<h1
id="ein-radikaler-ansatz-um-deine-persönlichen-daten-zu-schützen">Ein
radikaler Ansatz, um deine persönlichen Daten zu schützen</h1>
<p>von Richard Stallmann, 03. April 2018</p>
<p><strong>Die uns heutzutage aufgebürdete Überwachung ist schlimmer als
die in der Sowjetunion. Wir brauchen Gesetze, die bereits diese Daten-
sammelei verhindern.</strong></p>
<p>Journalisten fragen mich, ob die Abscheu gegen den Missbrauch von
[Facebooks]
(https://www.theguardian.com/technology/2018/mar/31/big-data-lie-exposed-simply-blaming-facebook-wont-fix-reclaim-private-information)
Daten ein Wendepunkt für die Kampagne zur Wiederherstellung der
Privatsphäre sein könnte. Dies kann der Fall sein, wenn die
Öffentlichkeit die Kampagne breiter und tiefer anlegt.</p>
<p>Breiter im Sinne von alle Überwachungssysteme betreffend, nicht nur
[Facebook] (https://www.theguardian.com/technology/facebook). Tiefer im
Sinne von Vorantreiben der Regulierung, hin zur Regulierung bereits der
Datensammlung, nicht nur der Datennutzung. Weil Überwachung so
alldurchdringend ist, ist die Wiederherstellung der Privatsphäre
zwangsweise eine großer Veränderung, welche kraftvolle Maßnahmen
voraussetzt.</p>
<p>Die uns heutzutage aufgebürdete Überwachung übersteigt die der
Sowjetunion bei weitem. Der Freiheit und Demokratie willen müssen wir
sie weitestgehend beseitigen. Datennutzung kann für Bürger auf so viele
Weise schädlich sein, dass die sicherste Datenbank nur die ist, die nie
angelegt wurde. Daher schlage ich, anstelle der Herangehensweise der
Europäischen Union, hauptsächlich die Nutzung persönlich zu regulieren
(in ihrer <a
href="https://www.eugdpr.org/">Datenschutz-Grundverordnung</a> oder
DSGVO), ein Gesetz vor, das Systeme bereits vom Sammeln persönlicher
Daten abhält.</p>
<p>Der zuverlässige Weg hierzu ist - ohne dass dieser aus einer Laune
einer Regierung heraus wieder abgeschafft werden könnte -, die
Verpflichtung, Systeme so bauen, so dass sie keine personenbezogenen
Daten sammeln. Das grundlegende Prinzip ist, dass ein System so
konzipiert sein muss, dass es gewisse Daten nicht erhebt, sofern es
seine grundlegende Funktion auch ohne jene Daten erfüllen kann.</p>
<p>Reisedaten - d.h., wer wohin reist - sind besonders sesibel, da sie
eine ideale Grundlage zur Unterdrückung eines jeden Ziels bieten. Als
Fallstudie können Londons Züge und Busse dienen.</p>
<p>Die digitale Bezahlkarte für „Transport of London“ speichert zentral
alle Reisen, die mit einer „Oyster-Card“ oder einer Bankkarte bezahlt
wurden. Wenn ein Reisender die Karte digital auflädt, verknüpft das
System die Karte mit der Identität des Reisenden. Dies führt zu einer
Totalüberwachung.</p>
<p>Ich kann mir vorstellen, dass die Verkehrsbetriebe diese Praxis mit
den Vorgaben der DSGVO rechtfertigen können. Im Gegensatz hierzu sollte
nach meinem Vorschlag das System aufhören zu tracken, wer wohin geht.
Die grundlegende Funktion der Karte ist das Bezahlen für die
Beförderung. Dies kann geschehen, ohne dass die Daten zentralisiert
werden müssen, also müsste das System aufhören, dies zu tun. Wenn es
digitale Bezahlung akzeptiert, sollte es dies durch ein anyonmes
Bezahlsystem tun.</p>
<p>Schnickschnack, wie z.B. die Möglichkeit, einem Reisenden einen
Überblick über seine vergangenen Reisen zu bieten, ist nicht Teil der
grundlegenden Funktion, so dass damit der Einbau zusätzlicher
Überwachung nicht zu rechtfertigen ist.</p>
<p>Diese zusätzlichen Dienstleistungen könnten separat denjenigen
Nutzern zur Verfügung gestellt werden, die sie ausdrücklich wünschen.
Besser noch, Nutzer könnten ihre eigenen, persönlichen Systeme nutzen,
um ihre Reisen unter Wahrung ihrer Privatsphäre aufzuzeichnen.</p>
<p>Schwarze Taxis beweisen, dass ein System zum Mieten von Taxis seine
Passagiere nicht identizifieren können muss. Daher sollte es solchen
Systemen auch nicht erlaubt sein, Passagiere zu identifizieren; sie
sollten gezwungen sein, die Privatsphäre schützende Barzahlungen von
Passagieren anzunehmen, ohne die Passagiere zu identifizieren.</p>
<p>Allerdings können auch bequeme digitale Bezahlsystem die Anonymität
und Privatsphäre von Passagieren schützen. Wir haben bereits eines
entwickelt: <a href="https://taler.net/de/">GNU Taler</a>. Es ist so
konzipiert, dass es für den Bezahler anonym ist, die Zahlungsempfänger
jedoch stets identifiziert werden. Wir haben es deshalb so konzipiert,
um Steuervermeidung keinen Vorschub zu leisten. Alle digitalen
Bezahlsystem sollten gezwungen sein, die Anonymität auf diese oder
vergleichbare Weise zu verteidigen.</p>
<p>Was ist mit Sicherheit? Solche Systeme in der Öffentlichkeit müssen
so konzipiert sein, dass sie Leute nicht nachverfolgen können.
Videokameras sollten lokale Aufzeichnungen erstellen, die innerhalb der
folgenden Wochen ausgewertet werden können, falls ein Verbrechen
geschieht, aber sollten keinen Live-Fernzugriff ohne physische
Speicherung zulassen. Biometrische Systeme sollten so konzipiert sein,
dass sie nur Personen gemäß einer gerichtlich angeordneten
Fahndungsliste erkennen können, um die Privatsphäre der restlichen
Bürger zu schützen. Ein Unrechtsstaat ist gefährlicher als Terrorismus,
und ein Übermaß an Sicherheit leistet einem Unrechtsstaat Vorschub.</p>
<p>Die DSGVO-Vorgaben der Europäischen Union sind gut gemeint, aber
gehen nicht sehr weit. Die DSGVO wird nicht viel Privatsphäre bringen,
weil ihre Regeln zu lax sind. Sie erlauben die Sammlung beliebiger
Daten, sofern sie dem System irgendwie dienlich sind, und es ist leicht,
beliebige Daten als irgendwie nützlich erscheinen zu lassen.</p>
<p>Die DSGVO betont, dass Nutzer (in manchen Fällen) ihre Zustimmung zur
Sammlung ihrer Daten geben müssen, was aber nicht viel nützt.
Systemdesigner sind Experten darin geworden, „Konsens herzustellen“ (um
Noam Chomskys Phrase in diesem Kontext zu verwenden). Die meisten Nutzer
willigen in die Nutzungsbedingungen einer Webseite ein, ohne sie zu
lesen; ein Unternehmen, das die Nutzer dazu [verpflichtete]
(https://www.theguardian.com/technology/2014/sep/29/londoners-wi-fi-security-herod-clause),
ihr Erstgeborenes wegzugeben, hatte viele Einwilligungen erhalten.
Schließlich ignorieren Nutzer die Nutzungsbedingungen heutiger,
notwendiger Dienstleistungen (Systeme) wie z.B. von Bussen und Zügen,
weil eine Weigerung zur Einwilligung wohl unanehmliche Folgen hätte.</p>
<p>Um Privatsphäre wiederherzustellen, müssen wir Überwachung bereits
stoppen, bevor sie uns nach Einwilligung fragt.</p>
<p>Vergiss zuletzt nicht die Software auf deinem eigenen Rechner. Wenn
es unfreie Software von Apple, Google oder Microsoft ist, <a
href="http://www.gnu.org/proprietary/proprietary.de.html">späht sie dich
regelmäßig aus</a>. Dies rührt daher, dass die Software von einem
Unternehmen gesteuert wird, das dich ohne zu zögern ausspionieren wird.
Unternehmen neigen dazu, ihre Skrupel abzulegen, sofern es dem Profit
dient. Im Gegensatz dazu wird freie (libre) Software von <a
href="https://www.gnu.org/philosophy/free-software-even-more-important.de.html">ihren
Nutzen kontrolliert</a>. Die Nutzergemeinschaft bewahrt die Ehrlichkeit
der Software.</p>
<p>Richard Stallman ist Präsident der Free Software Foundation, die die
Entwicklung des freien / libre Betriebssystem GNU ins Leben gerufen
hat.</p>
<p>Copyright 2018 Richard Stallman. Veröffentlich unter der <a
href="https://creativecommons.org/licenses/by-nd/4.0/">Creative Commons
Attribution NoDerivatives Lizenz 4.0</a>. Die ursprüngliche englische
Version erschien im <a
href="https://www.theguardian.com/commentisfree/2018/apr/03/facebook-abusing-data-law-privacy-big-tech-surveillance">Guardian</a>
am 03. April 2018.</p>
